@media only screen and (min-width: 768px) {
	section .slider .picture .background-picture {
		width: 440px;
		/* height: auto; */
		/* margin-top: -30px; */
		/* margin: auto; */
		/* margin-left: 127px; */
	}
	
	section .slider {
		/* display: flex; */
		/* flex-direction: column; */
		/* position: relative; */
		width: 450px;
	}

	section .slider .picture .person {
		width: 355px;
		height: 340px;
		margin-top: 5px;
	}

	section .slider .description .comments {
		/* font-size: 18px; */
		/* font-weight: 400; */
		/* line-height: 25px; */
		/* text-align: center; */
		/* margin-top: -23px; */
		width: auto;
	}
}

@media only screen and (min-width: 1024px) {
	section .slider {
    /* display: flex; */
    /* flex-direction: column; */
    /* position: relative; */
    width: 600px;
}

section .slider .picture .background-picture {
    width: 675px;
    /* height: auto; */
    /* margin-top: -30px; */
    /* margin: auto; */
    /* margin-left: 127px; */
}

section .slider .picture .person {
    width: 561px;
    height: 519px;
    margin-top: 17px;
}

section .slider .picture .icons {
    top: -81px;
}

section .slider .description .img-div {
    width: 80px;
    margin: auto;
}

section .slider .description .comments {
    font-size: 32px;
    /* font-weight: 400; */
    line-height: 40px;
    /* text-align: center; */
    /* margin-top: -23px; */
    width: auto;
}
}

@media only screen and (min-width: 1100px) {
	section .slider{
	flex-direction: row;
	width: 1100px;
	    margin-top: 32px;
	}
	
	section .slider .picture {
    /* display: flex; */
    /* flex-direction: column; */
    /* position: relative; */
    right: 150px;
	top: 40px;
}

section .slider .picture .icons {
    /* position: relative; */
    /* width: 112px; */
     margin-left: 130px;
    /* top: -50px; */
    /* border-radius: 25px; */
    /* background-color: hsl(0, 0%, 100%); */
}
	section .slider .description .comments {
    /* font-size: 32px; */
    /* font-weight: 400; */
    /* line-height: 40px; */
    text-align: left;
    /* margin-top: -23px; */
    width: 665px;
}

section .slider .description .title span {
    display: inline;
    /* margin-bottom: 3px; */
}

section .slider .description .title {
    width: 330px;
    /* font-size: 16px; */
    margin: 0;
    text-align: left;
}

section .slider .description .img-div {
    width: 118px;
    margin-left: 102px;
}

section .slider .description {
	align-self: center;
	z-index: 1;
}
}